path {
  /* stroke: hsl(204, 86%, 53%); */
  stroke-width: 3px;
  stroke-linecap: round;
  fill: none;
}

circle {
  fill: hsl(204, 67%, 65%);
}

svg {
  width: 100%;
  height: 75px;
}

.side {
  display: flex;
  flex-direction: row;
  flex-grow: 1;
}

.contain {
  width: 100%;
}

.vcenter {
  display: flex;
  flex-direction: column;
  justify-content: center;
  margin: 0.5rem;
  /* white-space: nowrap; */
  width: 1.5em;
}